.vscode/**
.git/**
tests/**
*.md
*.log
dist/*.map
webpack.config.js
jsconfig.json
.vscodeignore
node_modules/**
eslint.config.mjs
package-lock.json
.gitignore
src/**
!node_modules/abstract-level/
!node_modules/base64-js/
!node_modules/buffer/
!node_modules/classic-level/
!node_modules/ieee754/
!node_modules/is-buffer/
!node_modules/level-supports/
!node_modules/level-transcoder/
!node_modules/maybe-combine-errors/
!node_modules/module-error/
!node_modules/napi-macros/
!node_modules/node-gyp-build/
